body {
    background-color:  rgba(50, 115, 220, 0.3);
    font-family: 'Dekko';font-size: 22px;
}


.form-group {
    float: right;
    
}

h1 {
    text-align: center;
    background-color: black;
    color:white;
}

h1:hover {
    background-color: bisque;
    color: blue;
}

.error {
    color:red;
    font-size:14px;
    text-decoration: underline;
}

.show {
    display:block;
}

.hide {
    display: none;
}

.success {
    outline: 0 none;
    border: 3px solid green;
}

.button-container{
  margin: 20px;
  padding:25px;
  margin-left:10px;
font-size: 20px;

}



 .form-group {
     padding-right: 25px;
 }

 #gifs-appear-here {
     padding: 25px;
     font-size: 25px;
 }

 #add-btn {
     background-color: black;
     color: white;
     margin-top: 10px;

 }

 
 #add-btn:hover {
    background-color: red; /* Green */
    color: white;
  }



 .btnName {
    background-color: black;
    color: white;
 }



 
 @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-12"] {
      width: 100%;
    }
    #gifs-appear-here {
        padding: 25px;
        font-size: 25px;
        position: relative;
    }

  }


